<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/scripts.js" | relative_url }}"></script>

<script src="{{"/assets/scripts.js" | relative_url }}"></script>

{% if page.url contains 'contact' %}
  <!-- Form Validation -->
  <script src="{{"/assets/vendor/startbootstrap-clean-blog/js/jqBootstrapValidation.js" | relative_url }}"></script>
  <!-- Send Form -->
  <script>
    $(function () {

      var form = document.getElementById("contactForm");

      function showMessage(type, text) {
        $('#success').html(`<div class="alert alert-${type}">`);
        const el = $(`#success > .alert-${type}`)
        el.html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;').append('</button>');
        el.append(`<strong>${text}</strong>`);
        el.append('</div>');
      }

      async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("contactFormStatus");
        var data = new FormData(event.target);
        fetch(event.target.action, {
          method: form.method,
          body: data,
          headers: {
            accept: 'application/json'
          }
        })
        .then(response => {
          if (response.ok) {
            showMessage('success', 'Your message has been sent.');
            form.reset();
          } else {
            response.json().then(data => {
              if (Object.hasOwn(data, 'errors')) {
                showMessage('danger', data.errors.map(e => e.message).join(', '));
              } else {
                showMessage('danger', 'Sorry, it seems that my mail server is not responding. Please try again later!');
              }
            })
          }
        })
        .catch(error => {
          showMessage('danger', 'Oops! There was a problem submitting your message.');
        });
      }
          
      $('#contactForm input,#contactForm textarea').jqBootstrapValidation({
        preventSubmit: true,
        submitError: function ($form, event, errors) {
          // additional error messages or events
        },
        submitSuccess: function ($form, event) {
          handleSubmit(event);
        },
        filter: function () {
          return $(this).is(':visible');
        }
      });

      $('a[data-toggle="tab"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
    });

    /*When clicking on Full hide fail/success boxes */
    $('#name').focus(function () {
      $('#success').html('');
    });
  </script>
{% endif %}
