// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

#mainNav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container img {
  max-width: 100%;
}

blockquote {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  font-size: 1.6rem;
  padding: 0 1rem;
}

.post-body  {
  a {
    color: #0085A1;
  }
  a:visited {
    color: #0085A1;
  }
}

#mainNav .mobile {
  display: block;
}  
#mainNav .full {
  display: none;
}

@media (min-width: 992px) {
  #mainNav .mobile {
    display: none;
  }  
  #mainNav .full {
    display: block;
  }  
}